<section class="services-preview">
    <h2 id="services-preview-title">Our Services</h2>
    <div class="services-cards-container">
        <div class="services-card services-card-windows" routerLink="/services" tabindex="0" role="button">
            <div class="card-title">
                <h3>Windows and Doors</h3>
            </div>
             <img class="services-card-img" src="/assets/images/services-preview-placeholder-1.jpg" alt="window">
           <div class="card-footer"> 
                <p>Learn More</p>
                <span class="services-card-icon" aria-hidden="true">→</span>
            </div>
        </div>
        <div class="services-card services-card-showers" routerLink="/services">
            <div class="card-title">
                <h3>Shower Glass</h3>
            </div>
             <img class="services-card-img" src="/assets/images/services-preview-placeholder-2.jpg" alt="shower glass">
           <div class="card-footer">
            <p>Learn More</p>
            <span class="services-card-icon" aria-hidden="true">→</span>
           </div>
        </div>
        <div class="services-card services-card-glass" routerLink="/services">
           <div class="card-title">
                <h3>Custom Glass and Mirrors</h3>
            </div>
             <img class="services-card-img" src="/assets/images/services-preview-placeholder-3.jpg" alt="custom glass">
           <div class="card-footer">
            <p>Learn More</p>
            <span class="services-card-icon" aria-hidden="true">→</span>
           </div>
        </div>
    </div>
    <div id="services-preview-redirect-container">
        <a routerLink="/services">View All Services</a>
    </div>
</section>
